@model IEnumerable<UCP1_PAW_097_C.Models.Transaksi>

@{
    ViewData["Title"] = "Index";
}

<h1>Data Transaksi yang telah dilakukan</h1>

<p>
    <a class="btn btn-primary" role="button" asp-action="Create">Tambah Data</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tanggal)
            </th>
            <th>
                @Html.DisplayName("Judul Tanah")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Tanggal.Value.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTanahNavigation.JudulTanah)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTransaksi"><i class="fas fa-user-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdTransaksi"><i class="fas fa-info-circle"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdTransaksi"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
