@model IEnumerable<UCP1_PAW_097_C.Models.Penjual>

@{
    ViewData["Title"] = "Index";
}

<h1>Data Penjual</h1>

<p>
    <a class="btn btn-primary" role="button" asp-action="Create">Tambah Data</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Nama Penjual")
            </th>
            <th>
                @Html.DisplayName("Email")
            </th>
            <th>
                @Html.DisplayName("Alamat")
            </th>
            <th>
                @Html.DisplayName("Nomor Ponsel")
            </th>
            <th>
                @Html.DisplayName("Tentang")
            </th>
            <th>
                @Html.DisplayName("Judul Tanah")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamaPenjual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailPenjual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlamatPenjual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoHpPenjual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TentangPenjual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTanahNavigation.JudulTanah)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPenjual"><i class="fas fa-user-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdPenjual"><i class="fas fa-info-circle"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdPenjual"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
