@model IEnumerable<UCP1_PAW_097_C.Models.Tanah>

@{
    ViewData["Title"] = "Index";
}

<h1>Data Tanah yang di jual</h1>

<p>
    <a class="btn btn-primary" role="button" asp-action="Create">Tambah Data</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Judul Tanah")
            </th>
            <th>
                @Html.DisplayName("Alamat")
            </th>
            <th>
                @Html.DisplayName("Status")
            </th>
            <th>
                @Html.DisplayName("Harga")
            </th>
            <th>
                @Html.DisplayName("Luas (Ha)")
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JudulTanah)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlamatTanah)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Harga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Luas)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.Foto)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTanah"><i class="fas fa-user-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdTanah"><i class="fas fa-info-circle"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdTanah"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
